{% extends 'base.html.twig' %}
        {% block body %}
            <div class="row">
                <div class="col-sm-3">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-success">
                        <span class="glyphicon glyphicon glyphicon glyphicon-refresh" aria-hidden="true"></span> Update</button>
                    {{ form_end(form) }}
                </div>
            </div>
        {% endblock %}