{% extends 'base.html.twig' %}
  {% block body %}
      <div class="panel panel-success">
          <div class="col-sm-4">  </div>
          <div class="col-sm-4">
          <div class="panele-heading">
                  <h3>Login</h3>
          </div>
          <div class="panel-body">
              {% if errors%}
                <div class="alert alert-danger">
                    {{ errors.messageKey }}
                </div>
              {% endif %}
              <form method="post">
                  <div lang="form-group">
                      <label for="username">Username:</label>
                      <input type="text" name="_username" id="username" class="form-control" value="{{ username }}">
                  </div>
                  <div lang="form-group">
                      <label for="password">Password:</label>
                      <input type="password" name="_password" id="password" class="form-control">
                  </div>
                  <div lang="form-group">
                      <button class="btn btn-info pull-right">Connect</button>
                  </div>
              </form>
          </div>
          </div>
          <div class="col-sm-4">  </div>
      </div>
  {% endblock %}
