{% extends 'base.html.twig' %}
        {% block body %}
            <div class="row">
                <div class="col-sm-3">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-success">Add</button>
                    <a class="btn btn-warning" href="{{ path('homepage') }}">Back</a>
                    {{ form_end(form) }}
                </div>
            </div>
        {% endblock %}

